In [1]:
import pandas

In [36]:
def annual_rain(year, station='066062'):
    url = ('http://www.bom.gov.au/' +
           'jsp/ncc/cdio/weatherData/av?p_nccObsCode=136&p_display_type=dailyDataFile&p_startYear=' +
           str(year) + 
           '&p_c=-872836455&p_stn_num=' + station)
    rainfall_page = pandas.read_html(url, index_col=0)
    rainfall_data = rainfall_page[0]
    return rainfall_data.loc['Monthly Total'].map(float).sum()

In [16]:
cache = {}
def historic_rainfall(station='066062', start_year=1861, end_year=2016):
    dataset = []
    years = []
    for y in range(start_year, end_year+1):
        if (y, station) in cache:
            r = cache[(y,station)]
            print("From cache:",y,"rainfall=",r)
        else:
            r = annual_rain(y, station)
            cache[(y, station)] = r
            print("Fetched:",y,"rainfall=",r)
        years.append(y)
        dataset.append(r)
    return pandas.Series(index=years, data=dataset)

In [18]:
sydney_rainfall = historic_rainfall()

From cache: 1861 rainfall= 1485.1
From cache: 1862 rainfall= 609.4
From cache: 1863 rainfall= 1196.2
From cache: 1864 rainfall= 1756.3
From cache: 1865 rainfall= 921.6
From cache: 1866 rainfall= 938.3999999999999
From cache: 1867 rainfall= 1512.5
From cache: 1868 rainfall= 1091.3999999999999
From cache: 1869 rainfall= 1220.0
From cache: 1870 rainfall= 1630.3000000000002
From cache: 1871 rainfall= 1326.7
From cache: 1872 rainfall= 940.5
From cache: 1873 rainfall= 1859.6999999999998
From cache: 1874 rainfall= 1614.8
From cache: 1875 rainfall= 1175.2
From cache: 1876 rainfall= 1160.3999999999999
From cache: 1877 rainfall= 1517.8
From cache: 1878 rainfall= 1264.6999999999998
From cache: 1879 rainfall= 1603.9
From cache: 1880 rainfall= 748.6999999999999
From cache: 1881 rainfall= 1044.5999999999997
From cache: 1882 rainfall= 1072.3000000000002
From cache: 1883 rainfall= 1193.8999999999999
From cache: 1884 rainfall= 1120.1
From cache: 1885 rainfall= 1014.3
From cache: 1886 rainfall= 998.9
From cache: 1887 rainfall= 1529.2999999999997
From cache: 1888 rainfall= 583.0
From cache: 1889 rainfall= 1452.5000000000002
From cache: 1890 rainfall= 2071.0999999999995
From cache: 1891 rainfall= 1427.4999999999998
From cache: 1892 rainfall= 1740.1999999999998
From cache: 1893 rainfall= 1191.5999999999997
From cache: 1894 rainfall= 971.3
From cache: 1895 rainfall= 812.2
From cache: 1896 rainfall= 1076.8
From cache: 1897 rainfall= 1062.9999999999998
From cache: 1898 rainfall= 1098.4999999999998
From cache: 1899 rainfall= 1420.8
From cache: 1900 rainfall= 1691.1999999999998
From cache: 1901 rainfall= 1019.4000000000002
From cache: 1902 rainfall= 1096.0
From cache: 1903 rainfall= 980.0
From cache: 1904 rainfall= 1163.9999999999998
From cache: 1905 rainfall= 888.5
From cache: 1906 rainfall= 808.7
From cache: 1907 rainfall= 794.5
From cache: 1908 rainfall= 1158.6999999999998
From cache: 1909 rainfall= 822.9
From cache: 1910 rainfall= 1193.6
From cache: 1911 rainfall= 1273.3999999999999
From cache: 1912 rainfall= 1207.3000000000002
From cache: 1913 rainfall= 1467.1
From cache: 1914 rainfall= 1432.8
From cache: 1915 rainfall= 885.6
From cache: 1916 rainfall= 1142.1000000000001
From cache: 1917 rainfall= 1332.2000000000003
From cache: 1918 rainfall= 1091.6000000000001
From cache: 1919 rainfall= 1490.0000000000002
From cache: 1920 rainfall= 1104.5
From cache: 1921 rainfall= 1101.8000000000002
From cache: 1922 rainfall= 1000.2
From cache: 1923 rainfall= 940.9
From cache: 1924 rainfall= 940.9999999999999
From cache: 1925 rainfall= 1280.2
From cache: 1926 rainfall= 942.6999999999999
From cache: 1927 rainfall= 1234.0000000000002
From cache: 1928 rainfall= 1018.8000000000001
From cache: 1929 rainfall= 1471.8999999999999
From cache: 1930 rainfall= 1131.1000000000001
From cache: 1931 rainfall= 1251.4
From cache: 1932 rainfall= 952.9000000000001
From cache: 1933 rainfall= 1086.2
From cache: 1934 rainfall= 1650.8
From cache: 1935 rainfall= 788.1999999999999
From cache: 1936 rainfall= 769.5
From cache: 1937 rainfall= 1322.5
From cache: 1938 rainfall= 996.4999999999999
From cache: 1939 rainfall= 856.5
From cache: 1940 rainfall= 1001.1000000000001
From cache: 1941 rainfall= 680.4
From cache: 1942 rainfall= 1245.4
From cache: 1943 rainfall= 1289.5000000000002
From cache: 1944 rainfall= 786.7
From cache: 1945 rainfall= 1177.1
From cache: 1946 rainfall= 915.9000000000001
From cache: 1947 rainfall= 1040.1000000000001
From cache: 1948 rainfall= 986.9
From cache: 1949 rainfall= 1684.5
From cache: 1950 rainfall= 2193.9999999999995
From cache: 1951 rainfall= 1351.5000000000002
From cache: 1952 rainfall= 1504.7
From cache: 1953 rainfall= 1038.7
From cache: 1954 rainfall= 1050.0
From cache: 1955 rainfall= 1842.6
From cache: 1956 rainfall= 1711.0
From cache: 1957 rainfall= 690.5
From cache: 1958 rainfall= 1505.1
From cache: 1959 rainfall= 1517.0999999999997
From cache: 1960 rainfall= 1296.8
From cache: 1961 rainfall= 1451.6000000000001
From cache: 1962 rainfall= 1141.2
From cache: 1963 rainfall= 2035.6
From cache: 1964 rainfall= 1100.9
From cache: 1965 rainfall= 915.4
From cache: 1966 rainfall= 1230.3
From cache: 1967 rainfall= 1342.1999999999998
From cache: 1968 rainfall= 624.8000000000002
From cache: 1969 rainfall= 1447.4
From cache: 1970 rainfall= 1103.5
From cache: 1971 rainfall= 1108.9
From cache: 1972 rainfall= 1282.3000000000002
From cache: 1973 rainfall= 1492.5
From cache: 1974 rainfall= 1602.4
From cache: 1975 rainfall= 1292.9
From cache: 1976 rainfall= 1782.6
From cache: 1977 rainfall= 923.1999999999998
From cache: 1978 rainfall= 1498.6000000000001
From cache: 1979 rainfall= 810.5999999999999
From cache: 1980 rainfall= 736.2
From cache: 1981 rainfall= 1038.3000000000002
From cache: 1982 rainfall= 838.3000000000001
From cache: 1983 rainfall= 1345.9
From cache: 1984 rainfall= 1800.6
From cache: 1985 rainfall= 1216.9999999999998
From cache: 1986 rainfall= 1225.3
From cache: 1987 rainfall= 1312.8000000000002
From cache: 1988 rainfall= 1861.7999999999997
From cache: 1989 rainfall= 1526.4
From cache: 1990 rainfall= 1976.8
From cache: 1991 rainfall= 1121.3999999999999
From cache: 1992 rainfall= 1282.3999999999999
From cache: 1993 rainfall= 913.0
From cache: 1994 rainfall= 907.0000000000001
From cache: 1995 rainfall= 1229.8
From cache: 1996 rainfall= 1148.6
From cache: 1997 rainfall= 1078.3000000000002
From cache: 1998 rainfall= 1648.6
From cache: 1999 rainfall= 1470.4
From cache: 2000 rainfall= 821.6
From cache: 2001 rainfall= 1358.7999999999997
From cache: 2002 rainfall= 859.9999999999998
From cache: 2003 rainfall= 1200.3999999999999
From cache: 2004 rainfall= 995.1999999999999
From cache: 2005 rainfall= 816.0
From cache: 2006 rainfall= 994.0000000000001
From cache: 2007 rainfall= 1499.2000000000003

TypeError: ufunc 'add' did not contain a loop with signature matching types dtype('<U32') dtype('<U32') dtype('<U32')

In [ ]:
sydney_rainfall

In [ ]:
%matplotlib inline
sydney_rainfall.plot()

In [19]:
annual_rain(2008)

TypeError: ufunc 'add' did not contain a loop with signature matching types dtype('<U32') dtype('<U32') dtype('<U32')

In [22]:
url = ('http://www.bom.gov.au/' +
           'jsp/ncc/cdio/weatherData/av?p_nccObsCode=136&p_display_type=dailyDataFile&p_startYear=' +
           str(2008) + 
           '&p_c=-872836455&p_stn_num=' + '066062')

In [23]:
rainfall_page = pandas.read_html(url, index_col=0)

In [24]:
len(rainfall_page)

2

In [29]:
rainfall_data = rainfall_page[0]
rainfall_data.loc['Monthly Total']['May']

3.0

In [35]:
rainfall_data.loc['Monthly Total'].map(float).sum()

1082.6000000000001